:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Zmienne - kolory i gradienty */
  --frame-gradient: linear-gradient(135deg, #ff9f1c ,#9b5de5);

  /* Tryb Ciemny */
  /* (tryb jasny będzie dodany w przyszłości) */
  --bg-main: #0f0a1f;
  --bg-hero: radial-gradient(1200px circle at 15% 10%, #2B1E4A 0%, #1a1230 45%, #0b0718 100%);
  --bg-about: #0b0718;

  --text-main: #ffffff;
  --text-muted: #cfcfe0;

  --accent-purple: #9B5DE5;
  --accent-orange: #FF9F1C;
  --accent-soft: #FFD191;

  --card-bg: radial-gradient(circle at 50% 30%, #2a1b33 0%, #1a1122 70%, #120b18 100%);

  --frame-grad: linear-gradient(145deg, #FF9F1C 0%, #9B5DE5 55%, #FFD191 100%);
  --ring-grad: radial-gradient(circle, #FF9F1C 0%, #9B5DE5 55%, #FFD191 100%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
